
RoboCode/.idea/*
RoboCode/RoboCode.iml
RoboCode/.DS_Store
TeamRoboCode/.idea/*
TeamRoboCode/TeamRoboCode.iml
TeamRoboCode/.DS_Store
.idea/*
.DS_Store
Sensorization/Excel/*.xls*
Sensorization/Excel/__pycache__
Sensorization/Excel/config.py
Sensorization/Firebase/__pycache__
Sensorization/Firebase/config.py
Sensorization/Firebase/sa-tp2-1920-firebase-adminsdk*